<main role="main" class="body-style">
  <div id="head" class="jumbotron header-img">
    <div class="container cont-style">
      <h2 class="display-1 heading">Virtual Boitech is the first online community for life science investors in Europe</h2>
       <p class="small-heading">VirtualBiotech is a non-commercial initiative managed by venture capital professionals with the aim
      to form a free online community for life science investors in Europe.</p>
      <div class="row banner-btns">
        <a *ngIf="this.token===null" class="btn btn-primary overlay-buttons home-btns"
         (click)="activateOverlay()" role="button">VIEW DEAL-FLOW &raquo;</a>
        <div class="modal" *ngIf="loginoverlayActive === true">
          <div class="modal-content modal-small">
            <span class="close" (click)="clearData();">&times;</span>
            <h4 class="text-center log-head">Our Deal-flow is only accessible for registered investors</h4>
            <div class="row">
              <div class="col-xs-6 text-center">
                <button class="btn btn-danger" (click)="gotoLogin();">Log-in</button>
              </div>
              <div class="col-xs-6 text-center">
                <button class="btn btn-default" (click)="gotoRegister();">Register</button>
              </div>
            </div>
          </div>
        </div>
        <a *ngIf="this.token===null" class="btn btn-primary overlay-buttons home-btns"
        routerLink="/project_form" role="button"  (click)="this.formService.listCompany = true;">LIST A COMPANY &raquo;</a>
      </div>
      <div class="row">
        <section id="section05" class="col-md-12 text-center demo">
          <a class="scroll-button" (click)="scrollDown()">
            <span></span>See how you can benefit from Virtual Biotech</a>
        </section>
      </div>

    </div>
  </div>

  <div class="container cont-1">
    <div class="container">
      <div class="row">
        <div class="col-md-5 stake-holders">
          <h2 class="point-head">For life science investors:</h2>
          <ul>
            <li class="points">Browse the listed investment opportunities and stay up to date with the life science startup scene in Europe</li>
            <li class="points">Download the available slide decks freely and anonymously and move any time to direct contact with the founders</li>
            <li class="points">Find out which projects are most popular in the community and have the choice to express your interest in any
              listed project</li>
            <li class="points">By expressing interest, you will be introduced to other interested members to potentially share your due diligence
              and build syndicates</li>
          </ul>
          <div class="col-md-12 text-center sh-btn">
            <a *ngIf="this.token===null" class="btn btn-primary point-btn" (click)="activateOverlay()" role="button">VIEW DEAL-FLOW &raquo;</a>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-2 stake-holders">
          <h2 class="point-head">For life science entrepreneurs:</h2>
          <ul>
            <li class="points">Benefit from our community to reach more life science investors, pave the way for future contact or follow up
              in a soft and indirect way</li>
            <li class="points">List your company or project simply and without any commitment to our platform</li>
            <li class="points">Your company will be added to our deal flow which will be sent to our community members of life science investors</li>
            <li class="points">The investors will be able to check your company profile, contact you directly and share their interest with
              other investors</li>
          </ul>
          <div class="col-md-12 text-center sh-btn">
            <a *ngIf="this.token===null" class="btn btn-primary point-btn" routerLink="/project_form" role="button" (click)="this.formService.listCompany = true;">LIST A COMPANY &raquo;</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</main>
