<main role="main">
  <div id="head" class="jumbotron header-img">
    <div class="container cont-style">
      <h2 class="display-1 heading">Virtual Boitech is the first online community for life science investors in Europe</h2>
      <p style="margin-top:40px;">
        <a class="btn btn--border btn--primary btn--animated" routerLink="/home" role="button">Join us &raquo;</a>
      </p>

      <!-- dna code -->
      <div class='dna'>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
        <div class='protein'>
          <b></b>
          <b></b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 description">
          <p class="box shadow">VirtualBiotech is a non-commercial initiative managed by venture capital professionals with the aim to form a free
            online community for life science investors in Europe.</p>
        </div>
        <div class="col-md-5 description">
          <p class="box shadow">VirtualBiotech is NOT a fund raising platform. We solely enable scientists and life science enterpreneurs to introduce
            their projects/companies to our community members.</p>
        </div>
      </div>
      <div class="row">
        <section id="section05" class="col-md-12 text-center demo">
          <a class="scroll-button" (click)="scrollDown()">
            <span></span>See how you can benefit from Virtual Biotech</a>
        </section>
      </div>

    </div>
  </div>

  <div class="container cont-1">
    <div class="container">
      <div class="row">
        <div class="col-md-7 stake-holders">
          <h2>For life science investors:</h2>
          <ul>
            <li>Browse the listed investment opportunities and stay up to date with the life science startup scene in Europe</li>
            <li>Download the available slide decks freely and anonymously and move any time to direct contact with the founders</li>
            <li>Find out which projects are most popular in the community and have the choice to express your interest in any
              listed project</li>
            <li>By expressing interest, you will be introduced to other interested members to potentially share your due diligence
              and build syndicates</li>
          </ul>
          <p>
            <a class="btn btn--border btn--primary1 btn--animated1" style="display:table-cell; vertical-align:middle; text-align:center"
              href="#" role="button">Join our investor community &raquo;</a>
          </p>
        </div>
        <div class="col-md-5" style="display:table-cell; vertical-align:middle; text-align:center">
          <img class="sh-styles" src="assets/images/investor.svg" style="width:350px;height:250px;" alt="investor">
        </div>
      </div>
      <div class="row" style="margin-top:100px;">
        <div class="col-md-5" style="display:table-cell; vertical-align:middle; text-align:center">
          <img class="sh-styles" src="assets/images/ent.svg" style="width:350px;height:250px;" alt="entrepreneurs">
        </div>
        <div class="col-md-7 stake-holders">
          <h2>For life science entrepreneurs:</h2>
          <ul>
            <li>Benefit from our community to reach more life science investors, pave the way for future contact or follow up
              in a soft and indirect way</li>
            <li>List your company or project simply and without any commitment to our platform</li>
            <li>Your company will be added to our deal flow which will be sent to our community members of life science investors</li>
            <li>The investors will be able to check your company profile, contact you directly and share their interest with
              other investors</li>
          </ul>
          <p>
            <a class="btn btn--border btn--primary1 btn--animated1" style="display:table-cell; vertical-align:middle; text-align:center"
              href="#" role="button">Submit your business plan &raquo;</a>
          </p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</main>
