<h2 class="page-header">Dashboard Page</h2>
<div class="panel panel-primary" *ngFor="let project of projects">
  <li class="list-group-item">Name: {{ project.name }}</li>
  <div *ngIf="username === project.createdBy">
    <li class="list-group-item">
      <a [routerLink]="['/edit-project/', project._id]">
        <button type="button" name="button" class="btn btn-sm btn-info">Edit</button>
      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/delete-project/', project._id]">
        <button type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
      </a>
    </li>
  </div>
</div>