<h2 class="page-header text-center">Dashboard</h2>
<div class="container">
  <div class="card" *ngFor="let project of projects">
    <div class="card-body">
      <div class="row" style="cursor: pointer;" (click)="viewEntry(project);">
        <h4 class="card-title text-center">{{project.dealName}}</h4>
      </div>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
        <div class="row" *ngIf="username === project.createdBy">
          <div class="col-xs-3 text-center padd">
            <a routerLink="/project_form">
              <button type="button" name="button" (click)="editEntry(project);" class="btn btn-sm btn-info">Edit</button>
            </a>
          </div>
          <div class="col-xs-3 text-center padd" *ngIf="username === project.createdBy">
            <button type="button" name="button" (click)="removeEntry(project._id)" class="btn btn-sm btn-danger">Delete</button>

          </div>
          <div class="col-xs-3 text-center padd">
            <div class="glyphicon glyphicon-thumbs-up">
              <span class="views">{{project.likedBy.length}}</span>
            </div>
          </div>
          <div class="col-xs-3 glyphicon glyphicon-eye-open padd text-center">
            <span class="views">{{project.viewedBy.length}}</span>
          </div>
        </div>
        <div class="row" *ngIf="username !== project.createdBy">
          <div class="col-xs-6 text-center padd">
            <div *ngIf="!project.likedBy.includes(username);" class="glyphicon glyphicon-heart-empty" (click)="addToLiked(project);">
              <span class="views">{{project.likedBy.length}}</span>
            </div>
            <div *ngIf="project.likedBy.includes(username);" class="glyphicon glyphicon-heart" (click)="addToLiked(project);">
              <span class="views">{{project.likedBy.length}}</span>
            </div>
          </div>
          <div class="col-xs-6 glyphicon glyphicon-eye-open padd text-center">
            <span class="views">{{project.viewedBy.length}}</span>
          </div>
        </div>
      </div>
      <table class="table" (click)="viewEntry(project);" style="cursor: pointer;">
        <tr *ngIf="project.name">
          <td class="vr">Name:</td>
          <td>{{project.name}}</td>
        </tr>

        <tr *ngIf="project.name">
          <td class="vr">Role:</td>
          <td>{{project.role}}</td>
        </tr>

        <tr *ngIf="project.name">
          <td class="vr">E-mail:</td>
          <td>{{project.email}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row text-center">
  <a routerLink="/project_form">
    <button type="button" class="btn btn-primary btn-outline-rounded">
      Add Project
    </button>
  </a>
</div>