<h2 class="page-header text-center">Dashboard</h2>
<!-- <ul class="list-group">
  <li class="list-group-item">Username: {{ username }}</li>
  <li class="list-group-item">Email: {{ email }}</li>
</ul> -->
<div class="container">
  <div class="card" *ngFor="let dash of dashboardData">
    <div class="card-body">
      <h4 class="card-title text-center">{{dash.dealName}}</h4>
      <button class="btn danger-btn" (click)="removeEntry(dash)">Delete</button>
      <table class="table">
        <tr *ngIf="dash.name">
          <td class="vr">Name:</td>
          <td>{{dash.name}}</td>
        </tr>
        
        <tr *ngIf="dash.name">
          <td class="vr">Role:</td>
          <td>{{dash.role}}</td>
        </tr>

        <tr *ngIf="dash.name">
          <td class="vr">E-mail:</td>
          <td>{{dash.email}}</td>
        </tr>  
      </table>
      <!-- <p class="card-text">Some example text. Some example text.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>
</div>

<div class="row text-center">
  <button type="button" class="btn btn-primary btn-outline-rounded" (click)="this.formService.showProjectForm = true;">
    Add Project
  </button>
</div>

<app-project-form [hidden]="!this.formService.showProjectForm"></app-project-form>
