@import '~scss/_bs-wizard';

.thanks {
  padding: 100px;
}

.thank {
  line-height: 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media only screen and (max-width: 700px) {
  .thanks {
    padding: 100px 50px;
  }
}
