.inline-input {
    display: inline-flex;
    font-weight: 500;
  }

  .check-box {
    margin: 4px 2px 0;
  }

  .hide-box {
    cursor: pointer;
    margin-left: 6px;
  }

  .sub-head{
    font-weight: bold;
  }