@import '~scss/_modal';
@import '~scss/_bs-wizard';

.inline-input {
  display: inline-flex;
  font-weight: 500;
}

.check-box {
  margin: 4px 2px 0;
}

.hide-box {
  cursor: pointer;
}

label {
  display: flex;
  display: -webkit-flex;
  padding: 0 5px 0 5px;
}

.disable {
  display: none;
}

.thanks {
  padding: 100px;
}

.thank {
  line-height: 25px;
}

.inline-link{
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .thanks {
    padding: 100px 50px;
  }
}
