<div class="col-md-12 header-img">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p class="text-center" style="margin-top:30px;">
    <a class="btn btn-primary" href="#" role="button">Join our investor community &raquo;</a>
    <a class="btn btn-primary" href="#" role="button">Submit your business plan &raquo;</a>
  </p>
</div>

<div class="row body-style">
  <form class="col-md-3">
    <div class="form-group sticky">
      <!-- <div class="col-md-12 flter">
        <select class="btn btn-primary btn-left form-control form-control-sm" name="location" [(ngModel)]="location">
          <option class="dropdown-content" *ngFor="let location of country">{{ location==''?'Location':location }}</option>
        </select>
      </div>
      <div class="col-md-12 filter">
        <select class="btn btn-primary btn-left form-control form-control-sm" name="focus" [(ngModel)]="foc">
          <option class="dropdown-content" *ngFor="let foc of focus">{{ foc==''?'Investment Focus':foc }}</option>
        </select>
      </div>
      <div class="col-md-12 filter">
        <select class="btn btn-primary btn-left form-control form-control-sm" name="indication" [(ngModel)]="indicat">
          <option class="dropdown-content" *ngFor="let indicat of indication">{{ indicat==''?'Prefered Indication':indicat }}</option>
        </select>
      </div>
      <div class="col-md-12 filter">
        <select class="btn btn-primary btn-left form-control form-control-sm" name="investment" [(ngModel)]="invest">
          <option class="dropdown-content" *ngFor="let invest of investment">{{ invest==''?'Investment Stage':invest }}</option>
        </select>
      </div> -->
      <div class="multiselect col-md-12 filter">
        <div class="selectBox" (click)="showlocationCheckboxes()">
          <select>
            <option>Location</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="locationCheckboxes">
          <label *ngFor="let location of country">
            <input type="checkbox" name="locati" (click)="filterList(location, 'locati') " />{{ location==''?'Location':location }}</label>
        </div>
      </div>
      <div class="multiselect col-md-12 filter">
        <div class="selectBox" (click)="showfocusCheckboxes()">
          <select>
            <option>Investment Focus</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="focusCheckboxes">
          <label *ngFor="let foc of focus">
            <input type="checkbox" name="focu" (click)="filterList(foc, 'focu') " />{{ foc==''?'Investment Focus':foc }}</label>
        </div>
      </div>
      <div class="multiselect col-md-12 filter">
        <div class="selectBox" (click)="showindicationCheckboxes()">
          <select>
            <option>Prefered Indication</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="indicationCheckboxes">
          <label *ngFor="let indicat of indication">
            <input type="checkbox" name="indica" (click)="filterList(indicat, 'indica') " />{{ indicat==''?'Prefered Indication':indicat }}</label>
        </div>
      </div>
      <div class="multiselect col-md-12 filter">
        <div class="selectBox" (click)="showinvestmentCheckboxes()">
          <select>
            <option>Investment Stage</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="investmentCheckboxes">
          <label *ngFor="let invest of investment">
            <input type="checkbox" name="inves" (click)="filterList(invest, 'inves') " />{{ invest==''?'Investment Stage':invest }}</label>
        </div>
      </div>
      <div class="col-xs-12">
        <h3 class="text-center">Filtered Items({{vclists.length}})
        </h3>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
      </div>
    </div>
  </form>

  <div class="wrap">

    <div *ngFor="let vclist of vclists" >
      <div [ngClass]="{'background-change' : vclist.Featured }" class="container col-md-9">
        <div [ngClass]="{'featured' : vclist.Featured }" class="list">
      <div class="row card">
        <div class="col-xs-3">
          <img class="feature-logo" *ngIf="vclist.Featured" src="../assets/images/feature1.png">
          <img class="sh-styles" src="assets/images/company-logos/{{vclist['VC Name']}}.png" (error)="this.error=null; updateUrl($event)"
            alt="company logo">
        </div>
        <div class="col-xs-6 slide-name">
          <a class="no-underline" href="{{vclist.Website}}" target="_blank">
            <h3 class="text-center small-name">{{vclist['VC Name']}}</h3>
          </a>
        </div>
        <div class="col-xs-3 show-btn">
          <p class="website">
            <a class="website btn btn-primary" href="{{vclist.Website}}" role="button" target="_blank">visit website &raquo;</a>
          </p>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <tr *ngIf="vclist['Investment Focus']">
            <td class="vr">Investment Focus:</td>
            <td>{{vclist['Investment Focus'].split(',').join(' |')}}</td>
          </tr>
          <tr *ngIf="vclist['Investment Stage']">
            <td class="vr">Investment Stage:</td>
            <td>{{vclist['Investment Stage'].split(',').join(' |')}}</td>
          </tr>
          <tr *ngIf="vclist['Fund Status']">
            <td class="vr">Fund Status:</td>
            <td>{{vclist['Fund Status']}}</td>
          </tr>
          <tr *ngIf="vclist['Special Criteria']">
            <td class="vr">Special Criteria:</td>
            <td>{{vclist['Special Criteria']}}</td>
          </tr>
          <tr *ngIf="vclist.Research[' Industry Partner']">
            <td class="vr">Research/Industry Partner:</td>
            <td>{{vclist.Research[' Industry Partner'].split(',').join(' |')}}</td>
          </tr>
          <tr *ngIf="vclist.Location">
            <td class="vr">Location:</td>
            <td>{{vclist.Location.join(' | ')}}</td>
          </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
    
  </div>
</div>
