@import '~scss/_variables';
.table {
  margin-bottom: 0px;
}

.sh-styles{
  float: left;
  margin: 15px 0;
}

.website {
  float: right;
  margin: 9px 0;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  border-top: none;
}

.no-underline{
  text-decoration: none;
}

.card {
  border-bottom: 1px solid $green;
}

.field {
  padding-top: 12px;
}

.vr {
  border-right: 1px solid $green;
  width: 200px;
}

.list {
  background: #f5f5f5;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 23px -4px;
}

.btn {
  height: 34px;  
  margin-right: 15px;
  position: relative;
  display: inline-block;
  letter-spacing: 1.2px;
  padding: 6px 6px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn--primary1 {
  color: $green;
}

.btn--border {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn--animated {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn--animated1.btn--border.btn--primary1 {
  border: 1px solid $green;
}

.btn--animated:hover {
  color: $green;
}

.btn--animated1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $green;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: -1;
}

.btn--animated1:hover {
  color: white;
}

.btn--animated1:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}

@media only screen and (max-width: 450px) {
  .vr {
    width: 100px;
  }
}
