<h2 class="page-header text-center">Deal Discription</h2>
<form #workForm="ngForm" class="editForm" novalidate>
  <div class="tab-pane fade in active">
    <br/>
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="dealName">Deal Name</label>
              <input class="form-control input-md" #dealName="ngModel" required name="dealName" type="text" placeholder="Deal Name" [(ngModel)]="deal.dealName">
              <div class="alert alert-danger" [hidden]="dealName.valid">Deal Name is required</div>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="location">Location</label>
              <input class="form-control select-md" #location="ngModel" required name="location" type="text" placeholder="Location" [(ngModel)]="deal.location">
              <div class="alert alert-danger" [hidden]="location.valid">Location is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="sector">Sector</label>
              <select (change)="onChange($event.target.value)" class="form-control select-md" #sector="ngModel" required name="sector" type="text" placeholder="Sector" [(ngModel)]="deal.sector">
                <option *ngFor="let sector of sectorList" value="{{sector}}">{{sector}}</option>
              </select>
              <div class="alert alert-danger" [hidden]="sector.valid">Sector is required</div>
            </div>
          </div>
          <div [hidden]="this.hideIndication" class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="indication">Indication</label>
              <select class="form-control select-md" #indication="ngModel" name="indication" type="text" placeholder="Indication" [(ngModel)]="deal.indication">
                <option *ngFor="let indication of indicationList" value="{{indication}}">{{indication}}</option>
              </select>
              <div class="alert alert-danger" [hidden]="indication.valid">Indication is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="stageLead">Stage of lead program</label>
              <select class="form-control select-md" #stageLead="ngModel" name="stageLead" type="text" placeholder="Stage of lead program"
                [(ngModel)]="deal.stageLead">
                <option *ngFor="let stage of stageProgramList" value="{{stage}}">{{stage}}</option>
              </select>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="financing">Financing round</label>
              <select class="form-control select-md" #financing="ngModel" name="financing" type="text" placeholder="Financing" [(ngModel)]="deal.financing">
                <option *ngFor="let financing of financingList" value="{{financing}}">{{financing}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="investment">Investment amount</label>
              <input class="form-control select-md" #investment="ngModel" pattern="^.*[^+-.*/].*$" name="investment" type="number" placeholder="Investment amount"
                [(ngModel)]="deal.investment">
              <div class="alert alert-danger" [hidden]="investment.valid">Indication is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-12'>
            <div class="form-group">
              <label class="control-label" for="technology">Technology Description</label>
              <textarea class="form-control select-md" #technology="ngModel" name="technology" type="text-box" placeholder="Technology Description"
                [(ngModel)]="deal.technology"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-12'>
            <div class="form-group">
              <label class="control-label" for="programDescription">Lead program description</label>
              <textarea class="form-control select-md" #programDescription="ngModel" name="programDescription" type="text-box" placeholder="Lead program description"
                [(ngModel)]="deal.programDescription"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-12'>
            <div class="form-group">
              <label class="control-label" for="comments">Other comments</label>
              <textarea class="form-control select-md" #comments="ngModel" name="comments" type="text-box" [(ngModel)]="deal.comments"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-12'>
            <div class="form-group">
              <label class="control-label" for="comments">Upload non-confidential presentation</label>
              <div *ngIf="currentFileUpload" class="progress" style="width:400px">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                  aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                  {{progress.percentage}}%</div>
              </div>
              <input id="selectFile" type="file" name="myFile" placeholder="Upload File">
            </div>
          </div>
        </div>
        <div class="form-group text-center space-20">
          <button type="button" class="btn btn-outline-rounded btn-primary" (click)="goToPrevious(workForm)">
            <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Contact Person</button>
          <button type="button" class="btn btn-outline-rounded btn-primary" [disabled]="!workForm.valid" (click)="goToNext(workForm)">
            Next
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
