@import '~scss/_bs-wizard';

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline-link {
  display: inline-block;
}