@import '~scss/_variables';

.navbar-default {
    background-color: #333333;
    border-color: #333333;
}

.navbar-brand{
    padding:0 5px 0 5px;
    > img{
        height: 49px;
    }
}

.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: $green;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: $green;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color:white;
}

  #bs-example-navbar-collapse-1>ul>li>a:hover {

   background: #6b6b6b;
}

.navbar-text{
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > .active{
   background: #6b6b6b;

 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      background: #6b6b6b;

 }